<div class="container mt-5">
  <h1>Welcome to Mister cocktail application</h1>

  <%= link_to "Create a Cocktail", new_cocktail_path, class: "btn btn-ghost" %>

  <div class="cards mt-5 flex-grow-1">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="card-category" style="">
          <%= cocktail.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


